<div class="text-center">
    <video controls="controls" id="video1" >
            <source src="assets/img/videobanat.mp4" type="video/mp4" />
    </video><br/>
    
        <table id="table1">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Leskovac kolo</td>
                <td>
                    <audio controls="controls" id="audio1">
                        <source src="assets/img/Leskovackolo.mp3" type="audio/mp3"/>
                 </audio>
                </td>
            </tr>
            <tr>
                <td>Nisko kolo</td>
                <td>
                    <audio controls="controls" id="audio1">
                            <source src="assets/img/Niskolo.mp3" type="audio/mp3"/>
                    </audio>
                </td>
            </tr>
            <tr>
                <td>Vlasko kolo</td>
                <td>
                    <audio controls="controls" id="audio1">
                        <source src="assets/img/Vlasinkakolo.mp3" type="audio/mp3"/>
                    </audio></td>
            </tr>
            <tr>
                <td>Vlasinka kolo</td>
                <td>
                     <audio controls="controls" id="audio1">
                          <source src="assets/img/Vlasinkakolo.mp3" type="audio/mp3"/>
                    </audio>
                </td>
            </tr>
        </table>
</div>