<div class="textOverImage"
     style="background-image:url(https://i.pinimg.com/originals/af/d5/a8/afd5a80dd05396d2639f8ddba4193df6.jpg)"
     data-text="Folklor Shop
                is a unique workshop for making folk costumes. Serbian folk costume occupies a prominent place in the culture and tradition of the Serbian people. Her role through history is very important as a symbol of ethnic identity, and it is also emphasized in visual and aesthetic values. Folklor Shop is located in Novi Ledinci, a village near Novi Sad. For 10 years, he has successfully dealt with online selling folk costumes.">
</div>



