<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg  bg-warning "  >
    
    <a class="navbar-brand" routerLink="/">{{appName}}</a>
    <button class="navbar-toggler navbar-light"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
  
    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          
          <li class="nav-item " >
              <a class="nav-link" routerLink="/pocetna" routerLinkActive="active">Home </a>
          </li>

          <li class="nav-item "  >
            <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog </a>
          </li>
      
          <li class="nav-item" >
              <a class="nav-link" routerLink='/about' routerLinkActive="active">About</a>
          </li>

          <li class="nav-item" >
              <a class="nav-link" routerLink='/gallery' routerLinkActive="active">Gallery</a>
          </li>

          
          <li class="nav-item"  >
            <a class="nav-link" routerLink="/shopp" routerLinkActive="active" >Shop</a>
          </li>

          <ng-template [ngIf]="autentifikacijaService.prijavljen()">
            <a class="nav-link"  routerLink='/korpa' routerLinkActive="active">
              <i class="fa fa-shopping-cart" style="font-size:24px; padding-right: 5px; "></i>Cart<i  id="cart_n"></i>
            </a> 
          </ng-template>
        
      </ul>
    
      
      <form class="form-inline my-2 my-lg-0">

          <a href="https://www.facebook.com/" >
            <i class="fa fa-facebook" style="font-size:20px; padding-right: 20px; "></i>
          </a>

          <a href="https://twitter.com/twitter?lang=en" >
            <i class="fa fa-twitter" style="font-size:20px; padding-right: 20px; "></i>
          </a>

          <a href="https://www.instagram.com/" >
            <i class="fa fa-instagram" style="font-size:20px; padding-right: 20px; "></i>
          </a>

          <ng-template [ngIf]="!autentifikacijaService.prijavljen()">
                <a class="nav-link" routerLink='/signin' routerLinkActive="active">
                  <i class="fa fa-user" style="font-size:24px; padding-right: 5px; "></i>Registration
                </a>
                <a class="nav-link" routerLink='/signup' routerLinkActive="active">
                  <i class="fa fa-user" style="font-size:24px; padding-right: 5px; "></i>Login
                </a>  
           </ng-template>

                
            <ng-template [ngIf]="autentifikacijaService.prijavljen()">
                <a class="nav-link" style="cursor: pointer;" (click)="odjaviSe()"   >
                    <i class="fa fa-user" style="font-size:24px; padding-right: 5px; cursor: pointer; color: blue;"></i>Log out
                  </a> 
            </ng-template>
    
      </form>
    </div>
</nav>



 
  