<h1>Shooping Cart</h1>

<div id="tableDIV">
    <a  class="add-to-cart btn btn-warning" 
        routerLink='/shopp'
        style= "color:#bd8200; 
                font-weight: bold; 
                margin-bottom: 10px;
                font-family: cursive;">
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
        Back to Shop
    </a>
    <a  class="btn btn-danger"  
        style= "color: black; 
                font-weight: bold;
                margin-left: 20px; 
                margin-bottom: 10px;
                font-family: cursive;
                cursor: pointer;"
        (click)="isprazniKorpu(proizvod)">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Clear cart
    </a>
    <table class="table table-collapse col-md-10  table-warning table-bordered table-hover " >
        <thead>
            <tr>
                <td></td>
                <td>Products</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody *ngFor="let proizvod of korpa" >
            <tr>
                <td><img class="cars-img-top align-middle" [src]="proizvod.url" style="height:80px ; width: auto ;"></td>
                <td class="align-middle" style="text-align: left;">{{proizvod.name}}</td>
                <td class="align-middle">{{proizvod.price}}</td>
                <td class="align-middle">{{brojStavki()}}</td>
                <td class="align-middle"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div style=" float: right; ">
                        <a 
                        class="btn btn-warning"  
                        style=
                            "   color: black; 
                                font-weight: bold;
                                margin-left: 20px; 
                                font-family: cursive;
                                font-size: 16px;
                                cursor: pointer;
                                "
                        (click)="izvrsiKupovinu()">
                        <i class="fa fa-shopping-cart" style="font-size:16px; color: black; "></i>
                        Kupi
                        </a>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>



