<div class="jumbotron text-center" style="background-color: white">
        <h1> {{ title }}!</h1>
        <img width="auto" height="250" style="padding-bottom: 10px;" alt="Logo folklor shop" src="assets/img/naslovnica0.png">
        <img width="auto" height="250" style="padding-bottom: 10px;" alt="Logo folklor shop" src="assets/img/naslovnica.png">
        <img width="auto" height="250" style="padding-bottom: 10px;" alt="Logo folklor shop" src="assets/img/naslovnica2.png">
        <p id="p1">
                 At this place you will find reconstructed pieces of folk costumes. For you we have prepared a rich assortment of folk costumes as well as training exercises. Enjoy shopping!
        </p>
        <hr >    
</div>