<div id="grid1">
    <div class="thumbnails group" >
        <a href="assets/img/Slika1.jpg" data-lightbox="gallery" data-title="Folk costume from Banat"><img src="assets/img/Slika1-thumb.jpg" alt="Image 1"></a>
        <a href="assets/img/Slika2.jpg" data-lightbox="gallery" data-title="Folk costume from Bac"><img src="assets/img/Slika2-thumb.jpg" alt="Image 2"></a>
        <a href="assets/img/Slika15.jpg" data-lightbox="gallery" data-title="Folk costume from Belgrade"><img src="assets/img/Slika15-thumb.jpg" alt="Image 3"></a>
        <a href="assets/img/Slika4.jpg" data-lightbox="gallery" data-title="Folk costume from Prizren"><img src="assets/img/Slika4-thumb.jpg" alt="Image 4"></a>
        <a href="assets/img/Slika5.jpg" data-lightbox="gallery" data-title="Folk costume from Vranje"><img src="assets/img/Slika5-thumb.jpg" alt="Image 5"></a>
        <a href="assets/img/Slika6.jpg" data-lightbox="gallery" data-title="Folk costume from Kumanovsko polje"><img src="assets/img/Slika6-thumb.jpg" alt="Image 6"></a>
        <a href="assets/img/Slika7.jpg" data-lightbox="gallery" data-title="Folk costume from Sabac region"><img src="assets/img/Slika7-thumb.jpg" alt="Image 7"></a>
        <a href="assets/img/Slika9.jpg" data-lightbox="gallery" data-title="Folk costume from Srem"><img src="assets/img/Slika9-thumb.jpg" alt="Image 8"></a>
    </div>
    <div id="ShowMore">
        <a 
           
            class="btn btn-warning" 
            routerLink='/gallery'
            style="color:#bd8200; font-weight: bold;; font-family: cursive;">
            Show more
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>



