data-title {
    font-family: cursive;
    
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  
}

.thumbnails{
    margin-right: -15px;
  
    

}

.thumbnails a {
    float: left;
    width: 25%;
    padding-right: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    

}

.thumbnails img {
    display: block;
    transition: all 0.2s ease-in-out;
    
}

.thumbnails:hover img {
    opacity: 0.6;
    transform: scale(0.90);
}

.thumbnails img:hover {
    opacity: 1.0;
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, .9);
    
}

#grid1 {
    height: auto;
    padding: 100px;
}

#ShowMore {
    float: right;
    background-color: white;
    padding-bottom: 100px;
    clear: both;

}

.btn {
    color: #5f4203;

}