<h2>About Folklor Shop</h2>

<div class="textOverImage"
    style="background-image:url(https://i.pinimg.com/originals/af/d5/a8/afd5a80dd05396d2639f8ddba4193df6.jpg)"
    data-text="Folklor Shop
               is a unique workshop for making folk costumes. Serbian folk costume occupies a prominent place in the culture and tradition of the Serbian people. Her role through history is very important as a symbol of ethnic identity, and it is also emphasized in visual and aesthetic values. Folklor Shop is located in Novi Ledinci, a village near Novi Sad. For 10 years, he has successfully dealt with online selling folk costumes.">
</div>

<div>
    <h5>
         Here's what our products look like, from idea to end. Everything starts from the idea, through sewing, to the final exposure on the scene.
     </h5>
</div>

<div id="grid1">
    <div class="thumbnails group" >
        <a href="assets/img/about0.jpg" data-lightbox="gallery" data-title="Everything starts from an idea."><img src="assets/img/about0-thumb.jpg" alt="Image 1"></a>
        <a href="assets/img/about1.jpg" data-lightbox="gallery" data-title="Than we made a costume."><img src="assets/img/about1-thumb.jpg" alt="Image 2"></a>
        <a href="assets/img/about2.jpg" data-lightbox="gallery" data-title="Trying clothes and finishing."><img src="assets/img/about2-thumb.jpg" alt="Image 3"></a>
        <a href="assets/img/about4.jpg" data-lightbox="gallery" data-title="Final product on the scene."><img src="assets/img/about4-thumb.jpg" alt="Image 4"></a>
    </div>
</div>

<div id="geo1">
    <h3 style="padding-bottom:20px;">Location:</h3>
    <app-geolocation></app-geolocation>
</div>
